body{
    margin:0;
}
#app{
    height:100vh;
    width:100vw;
    background:white;
    display:grid;
    grid-template:5% 80% 15%/10% 80% 10%;
}
#header{
    grid-area:1/2/1/2;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
#nav{
    min-width:50%;
    display:flex;
    justify-content:space-between;
    margin-right:5px;
}
.link{
    background:transparent;
    border:none;
}
#canvas{
    grid-area:2/2/4/2;
    margin-top:1%;
    border:1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}
#login{
    height:50%;
    width:40%;
    border:1px solid black;
}

 
