body{
    margin:0;
}
#canvas{
    margin:0;
    height:100vh;
    width:100vw;
    background:rgb(228, 228, 228);
    display:flex;
    justify-content:center;
    align-items:flex-start;
}
#nav{
    margin:0;
    height:5%;
    width:100%;
    background:transparent;
    border:1px solid black;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.link{
    margin-right:2%;
}
