body{
    margin:0;
}
#canvas{
    margin:0;
    height:100vh;
    width:100vw;
    background:rgb(228, 228, 228);
    display:flex;
    justify-content:center;
    align-items:center;
}
#chart-container{
    margin:0;
    height:90vh;
    width:99vw;
    border:1px solid black;
    overflow:hidden;
    display:flex;
} 

#chart{
    height:99%;
    width:99%;
    background:blue;
}